<div class="container mt-3" id="new-ticket-layout">


  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body new-form" data-controller="photos">
          <div class="d-flex justify-content-between">
            <h1 class="text-center mb-4" style="color: black;"><strong>Création de ticket</strong></h1>
            <a href="<%= tickets_path %>" class="btn-close mt-1" aria-label="Close"></a>
          </div>
          <%= simple_form_for @ticket, html: { multipart: true, data: { controller: "photos" } } do |f| %>
            <%= f.label :photos, raw('<i class="fa-solid fa-camera" style="color: $orange;"></i> Choisir une photo'), for: 'ticket_photos', class: 'orange-highlighted-button-outlined', style: "width: 100%;" %>
            <%= f.input :photos,
                        label: false,
                        input_html: {
                          id: 'ticket_photos',
                          accept: 'image/*',
                          multiple: true,
                          class: 'visually-hidden',
                          data: { action: "change->photos#preview", photos_target: "input" }
                        } %>

            <div id="photos-container" data-photos-target="previewContainer" style="margin-top: 15px;">
              <!-- aperçu photo -->
            </div>

            <div id="photos-buttons" class="mt-3 d-flex justify-content-between">
              <button class="orange-highlighted-button w-100 me-2" type="button" data-action="photos#confirmPhoto" data-photos-target="confirmPhoto" style="display: none;">Confirmer la photo</button>
              <button class="orange-highlighted-button w-100" type="button" data-action="photos#retakePhoto" data-photos-target="retakePhoto" style="display: none;">Reprendre la photo</button>
            </div>

            <div class="mb-3">
              <%= f.input :title, label: 'Titre', input_html: { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.input :content, label: 'Description (optionnelle)', as: :text, input_html: { rows: 2, class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.input :priority,
                          label: 'Priorité',
                          collection: Ticket.priorities.keys.map { |p| [p.humanize, p] },
                          include_blank: false,
                          input_html: { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.input :category, label: 'Catégorie', input_html: { class: 'form-control' } %>
            </div>
            <div class="d-grid">
              <%= button_tag raw('<i class="fa-regular fa-circle-check" style="color: white;"></i> Valider le ticket'),
                              type: 'submit',
                              class: 'orange-highlighted-button' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
