<div class=" row fixed-bottom justify-content-center border-top text-bg-dark">
  <div class=" btn-align btn col-2">
    <%= link_to communications_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2"><path d="M716.92-460v-40h129.23v40H716.92Zm43.39 258.46-103.39-77.54 24.93-31.69 103.38 77.54-24.92 31.69Zm-81.54-450.77L653.85-684l103.38-77.54 24.92 31.69-103.38 77.54ZM220-241.54v-152.31h-41.54q-26.84 0-45.73-18.88-18.88-18.89-18.88-45.73v-43.08q0-26.84 18.88-45.73 18.89-18.88 45.73-18.88h149.23L486.15-660v360l-158.46-93.85H260v152.31h-40Zm226.15-129.69v-217.54l-107.23 62.62H178.46q-9.23 0-16.92 7.69-7.69 7.69-7.69 16.92v43.08q0 9.23 7.69 16.92 7.69 7.69 16.92 7.69h160.46l107.23 62.62Zm110.77 6.77v-231.08q20.08 18.62 32.35 48.89 12.27 30.27 12.27 66.65 0 36.38-12.27 66.65-12.27 30.27-32.35 48.89ZM300-480Z"/></svg>
      <p class="ticket-index-p-font">Comms</p>
    <% end %>
  </div>
  <div class="btn-align btn col-2">
    <%= link_to tickets_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F96D00"><path d="M200-120v-507.85q0-24.3 17.28-41.38 17.27-17.08 41.18-17.08h294.62q23.91 0 41.18 17.08 17.28 17.08 17.28 41.38V-120L406.15-226 200-120Zm33.85-56.79 172.3-87.75 171.54 87.75v-451.06q0-10.77-6.92-17.69-6.92-6.92-17.69-6.92H258.46q-10.77 0-17.69 6.92-6.92 6.92-6.92 17.69v451.06Zm492.3-85.36v-519.54q0-10.77-6.92-17.69-6.92-6.93-17.69-6.93H312.67v-33.84h388.87q23.91 0 41.18 17.07Q760-806 760-781.69v519.54h-33.85Zm-492.3-390.31H577.69 233.85Z"/></svg>
      <p class="text-warning ticket-index-p-font">Tickets</p>
    <% end %>
  </div>
  <div class="btn-align btn col-2">
    <%= link_to new_ticket_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2"><path d="M240-180v-563.33q0-24.18 16.94-41.32 16.94-17.15 41.52-17.15h230.77v33.85H298.46q-9.23 0-16.92 7.69-7.69 7.7-7.69 16.93v510.71L480-320.72l206.15 88.1v-295.33H720V-180L480-283.08 240-180Zm33.85-587.95H529.23 273.85Zm412.3 166.16v-83.08h-83.07v-33.85h83.07v-83.08H720v83.08h83.08v33.85H720v83.08h-33.85Z"/></svg>
      <p class="ticket-index-p-font">Flag</p>
    <% end %>
  </div>
  <div class="btn-align btn col-2">
    <%= link_to actions_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2"><path d="M644.23-243.85 530.69-357.38l27.54-27.54 85 85 170-170 27.54 28.54-196.54 197.53Zm0-289.23L530.69-646.62l27.54-27.53 85 85 170-170 27.54 28.53-196.54 197.54ZM120-315.38v-40h320v40H120Zm0-289.24v-40h320v40H120Z"/></svg>
      <p class="ticket-index-p-font">Actions</p>
    <% end %>
  </div>
  <div class="btn-align btn col-2">
    <%= link_to menu_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2"><path d="M160-269.23v-40h640v40H160ZM160-460v-40h640v40H160Zm0-190.77v-40h640v40H160Z"/></svg>
      <p class="ticket-index-p-font">Menu</p>
    <% end %>
  </div>
</div>

<%# Ticket pictures carrousel %>

<!-- Carousel Section // Carousel supprimé -> voir en bas de page -->
<div>
  <%if @ticket.photos.attached?%>
    <%# Display first photo %>
    <!-- Modal Button -->
    <div class="img-show-modal-ticket" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <img src="<%= url_for(@ticket.photos.first) %>" class="img-show" alt= "<% @ticket.title %> photo">
    </div>
  <%end%>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header no-border-bottom pt-5">
        <div class="modal-ticket-close-x" data-bs-dismiss="modal" aria-label="Close"></div>
      </div>
      <div class="modal-body p-0">
        <img src="<%= url_for(@ticket.photos.first) %>" class="img-show-modal-ticket" alt= "<% @ticket.title %> photo">
      </div>
      <div class="modal-footer no-border-top">
        <button type="button" class="btn btn-warning text-decoration-none text-light" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-index">
    <%# Ticket informations %>
    <%# Div Priorité & Status %>
    <div class="d-flex justify-content-between align-items-center mt-3 mb-0">
      <!-- Priority Text -->
      <div>
        <p class="ticket-show-p-font">
          Priorité :
          <span style="color: <%= progress_point(@ticket.priority)[:color] %>">
            <%= @ticket.priority.humanize %>
          </span>
        </p>
      </div>
      <%# Status %>
      <div class="ticket-show-p-font">
        <% if @ticket.status == "nouveau" %>
            <span class="card-tkt-show-nouveau rounded-pill align-items-center"><%= @ticket.status.capitalize %></span>
          <% elsif @ticket.status == "actif" %>
            <span class="card-tkt-show-encours rounded-pill align-items-center"><%= @ticket.status.capitalize %></span>
          <% elsif @ticket.status == "résolu" %>
            <span class="card-tkt-show-resolu rounded-pill align-items-center"><%= @ticket.status.capitalize %></span>
        <% end %>
      </div>
    </div>
    <%# title & category && Content %>
    <div class="card-body mt-4 mb-2">
      <h3 class="ticket-show-h-font my-2"><strong><%= @ticket.category %> : <%= @ticket.title %></strong></h3>
      <p class="ticket-show-p-font mt-2 mb-4"><%= @ticket.content %></p>
      <%# Utilisateur %>
      <% if @ticket.manager_id == nil %>
        <div class="d-flex justify-content-start align-items-center gap-3">
          <i class="fa-solid fa-user-tie fa-lg text-ident-2px"></i>
          <p class="ticket-show-p-font"> Non assigné</p>
        </div>
      <% else %>
        <div class="d-flex justify-content-start align-items-center gap-3">
          <i class="fa-solid fa-user-tie fa-lg text-ident-2px"></i>
          <p class="ticket-show-p-font"><%= @ticket.manager.first_name %> <%= @ticket.manager.last_name %></p>
        </div>
      <% end %>
      <%# Creation date / Update date %>
      <div class="ticket-show-p-font">
        <% if @ticket.created_at == @ticket.updated_at %>
          <div class="d-flex justify-content-start align-items-center gap-3">
            <i class="fa-regular fa-calendar fa-lg"></i>
            <p class=""><%= "#{@ticket.created_at.strftime("%d/%m/%Y à %H:%M")}" %></p>
          </div>
        <% else %>
          <div class="d-flex justify-content-start align-items-center gap-3">
            <i class="fa-regular fa-calendar fa-lg"></i>
            <p class="m-0"><%= "#{@ticket.created_at.strftime("%d/%m/%Y à %H:%M")}" %></p>
          </div>
          <div class="d-flex justify-content-start align-items-center gap-3">
            <i class="fa-regular fa-calendar-plus fa-lg"></i>
            <p class="m-0"><%= "#{@ticket.updated_at.strftime("%d/%m/%Y à %H:%M")}" %></p>
          </div>
        <% end %>
      </div>
    </div>
    <%# Actions %>
    <div class="mt-1">
      <br>
      <h5 class="mb-3 ticket-show-h-font"><strong>Actions à mettre en place :</strong></h5>
      <% @ticket.actions.each do |action| %>
        <div class="card mt-2 mb-2 card-show-ticket" data-controller="action-switch">
          <div class="card-body">
            <%# Action title %>
            <h6 class="ticket-show-h-font"><strong><%= action.title.capitalize %></strong></h6>
            <%# Action content %>
            <p class="mt-2 ticket-show-p-font"><%= action.content %></p>
            <%# Attribué à / User %>
            <p><i class="fa-solid fa-user mt-3 mb-0"></i> <%= action.user.first_name %> <%= action.user.last_name %></p>
            <%# Flexbox date & switch %>
            <div class="d-flex justify-content-between align-items-center ticket-show-p-font mt-2">
              <%# Date %>
              <div>
                <p class="mb-0 p-0"><i class="fa-solid fa-calendar-xmark fa-lg"></i>  <%= action.due_date %></p>
              </div>
              <!-- Rounded toggle -->
              <div data-controller="switch-status" data-switch-status-id-value=<%= action.id %>>
                <input type="checkbox" data-switch-status-target="status" data-action="change->switch-status#switch" id="toggle_<%= action.id %>" class="toggleCheckbox" <%= 'checked' if action.status == 'complétée' %> />
                <label for="toggle_<%= action.id %>" class='toggleContainer'>
                  <div>active</div>
                  <div>complétée</div>
                </label>
              </div>
              <%# Fin Rounded toggle %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%# Comments %>
    <div class="mt-5">
      <%# Section écriture commentaire %>
      <h5 class="mt-3 mb-3 ticket-show-h-font mb-0"><strong>Commentaires :</strong></h5>
      <%= simple_form_for [@ticket, @comment], defaults: { wrapper: false } do |f| %>
        <div class="input-group mb-2">
          <%= f.input :content, input_html: {
            class: "",
            placeholder: "Écrivez un commentaire...",
          },
          label: false %>
          <div class="input-group-append">
            <%= button_tag raw('<i class="fa-solid fa-paper-plane" style="color: #f96d00;"></i>'),
                            type: 'submit',
                            class: 'btn comment-submit' %>
          </div>
        </div>
        <div id="comment-error"></div>
      <% end %>
      <%# Section Commentaires %>
      <div class="card mb-2">
        <% @comments.each do |comment| %>
          <div class="ticket-communications card-body ticket-show-p-font my-2 border border-light rounded-2">
            <div>
            <p class=""><strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong> le <%= comment.created_at.strftime("%d/%m/%Y à %H:%M") %></p>
            <p class=""><%= comment.content.capitalize %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# <!-- Toggle button new possibility -->
<input type="checkbox" id="toggle" class="toggleCheckbox" />
<label for="toggle" class='toggleContainer'>
  <div>This is a toggle</div>
  <div>button</div>
</label> %>

<%# Carroussel %>
<% if false %>
  <%if @ticket.photos.attached?%>
    <div class="row g-0 flex-grow-1">
      <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide h-100">
          <div class="carousel-indicators">
            <% if @ticket.photos.any? %>
              <% @ticket.photos.each_with_index do |_, index| %>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
              <% end %>
            <% else %>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <% end %>
          </div>

          <div class="carousel-inner h-100">
            <% if @ticket.photos.any? %>
              <% @ticket.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %> h-100">
                  <%= cl_image_tag photo.key, crop: "lfill", class: "d-block w-100 h-100", alt: "Ticket Image" %>
                </div>
              <% end %>
            <% else %>
              <div class="carousel-item active h-100">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" class="d-block w-100 h-100" alt="No Image Available">
              </div>
            <% end %>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <%else%>
  <%end%>
<% end %>

<!-- Progress Point /// commenté -->
    <% if false %>
      <span class="progress-point"
        style="background-color: <%= progress_point(@ticket.priority)[:color] %>;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: inline-block;">
      </span>
    <% end %>
