<%# <nav class="row navbar navbar-dark bg-dark text-bg-dark border-bottom">
  <!-- Navbar content -->
  <div class="col-1 logo-container">
    <%= image_tag "froglab_logo_2.png", class:"logo" %>
  <%# </div> %>
  <%# <div class="col-6"> %>
    <%# <%= form_with url: communications_path, method: :get, local: true do |f| %>
      <%# <%= f.text_field :query, placeholder: "Recherchez...", class: "bg-dark rounded-pill font-navbar search-bar"%>
  <%# </div> %>
    <%# <button type="submit" class="me-3 col-3 bg-dark rounded-pill font-navbar search-button"> %>
      <%# <i class="fa-solid fa-magnifying-glass"></i> %>
    <%# </button> %>
    <%# <%= f.submit "Q", class: "bg-dark rounded-pill font-navbar search-button"%>
  <%# <% end %>
<%# </nav> %>

<nav class="row navbar mt-1 navbar-dark bg-dark text-bg-dark border-bottom">
  <!-- Navbar content -->

  <%# 1st row of the navbar  %>
  <div class="d-flex justify-content-between align-items-center">

    <%# logo froglab  %>
    <div class="logo-container">
      <%= image_tag "froglab_logo_2.png", class:"logo"%>
    </div>

    <%# barre de recherche  %>
    <div class="">
      <%= form_with url: communications_path, method: :get, local: true do |f| %>
        <%= f.text_field :query, placeholder: "Recherchez...", class: "bg-dark rounded-pill font-navbar search-bar"%>
    </div>

    <div class="d-flex align-items-center">
      <%# boutons search %>
      <button type="submit" class=" bg-dark rounded-pill font-navbar search-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <% end %>

      <%# bouton refresh  %>
      <button class="bg-dark rounded-pill font-navbar refresh-button">
        <%= link_to communications_path, class: "d-flex align-items-center justify-content-center text-decoration-none" do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2">
            <path d="M515.38-349.23v-47.69h149.23v47.69H515.38ZM579.23-140v-53.85h-63.85v-47.69h63.85v-53.85h47.69V-140h-47.69Zm91.54-53.85v-47.69H820v47.69H670.77Zm37.69-101.54v-155.38h47.69v53.85H820v47.69h-63.85v53.84h-47.69Zm99.46-272.3h-62.23q-27.54-84.54-99.57-138.43Q574.08-760 480-760q-117 0-198.5 81.5T200-480q0 78.15 38.46 141.81 38.46 63.65 101.54 99.34V-360h60v220H180v-60h113.23q-69.3-45-111.27-118.27Q140-391.54 140-480q0-70.8 26.77-132.63t72.77-107.83q46-46 107.83-72.77Q409.2-820 480-820q118.61 0 208.81 71.42Q779-677.15 807.92-567.69Z"/>
          </svg>
        <% end %>
      </button>
    </div>
  </div>
</nav>




<div class="container-index justify-content-center mt-3">
  <% @communications.each do |communication| %>

    <div class="d-flex justify-content-between card-com"
      data-bs-toggle="modal"
      data-bs-target="#<%= communication.id %>-communication"
      data-title="<%= communication.title %>"
      data-category="<%= communication.category %>"
      data-content="<%= communication.content %>">
      <div class="card-com-infos">
        <h2>
          <strong><%= communication.category.capitalize %></strong>: <%= communication.title.capitalize %>
        </h2>
          <div class="d-font">
            <% if communication.created_at == communication.updated_at %>
              <p><%= communication.created_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
            <% else %>
              <p><%= communication.created_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
              <p><strong>Dernière modification :</strong> <%= communication.updated_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
            <% end %>
          </div>


        <p><%= truncate(communication.content.capitalize, length: 100) %></p>
      </div>
    </div>

    <div class="modal fade" id="<%= communication.id %>-communication" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="<%= communication.id %>-communicationLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content bg-white text-dark">
          <div class="modal-header">
            <h1 class="modal-title fs-1" id="<%= communication.id %>-communicationLabel"><%= communication.title %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body">
                  <p class="fs-4"><%= communication.category.capitalize %></p>
                  <p class="text-start"><%= communication.content.capitalize %></p>
                </div>
          </div>
        </div>
      </div>

  <% end %>
</div>

<div class=" row fixed-bottom justify-content-center border-top text-bg-dark">
  <div class=" btn-align btn col-2">
    <%= link_to communications_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F96D00"><path d="M716.92-460v-40h129.23v40H716.92Zm43.39 258.46-103.39-77.54 24.93-31.69 103.38 77.54-24.92 31.69Zm-81.54-450.77L653.85-684l103.38-77.54 24.92 31.69-103.38 77.54ZM220-241.54v-152.31h-41.54q-26.84 0-45.73-18.88-18.88-18.89-18.88-45.73v-43.08q0-26.84 18.88-45.73 18.89-18.88 45.73-18.88h149.23L486.15-660v360l-158.46-93.85H260v152.31h-40Zm226.15-129.69v-217.54l-107.23 62.62H178.46q-9.23 0-16.92 7.69-7.69 7.69-7.69 16.92v43.08q0 9.23 7.69 16.92 7.69 7.69 16.92 7.69h160.46l107.23 62.62Zm110.77 6.77v-231.08q20.08 18.62 32.35 48.89 12.27 30.27 12.27 66.65 0 36.38-12.27 66.65-12.27 30.27-32.35 48.89ZM300-480Z"/></svg>
      <p class="ticket-show-p-font text-warning">Comms</p>
    <% end %>
  </div>
  <div class="btn-align btn col-2">
    <%= link_to tickets_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2"><path d="M200-120v-507.85q0-24.3 17.28-41.38 17.27-17.08 41.18-17.08h294.62q23.91 0 41.18 17.08 17.28 17.08 17.28 41.38V-120L406.15-226 200-120Zm33.85-56.79 172.3-87.75 171.54 87.75v-451.06q0-10.77-6.92-17.69-6.92-6.92-17.69-6.92H258.46q-10.77 0-17.69 6.92-6.92 6.92-6.92 17.69v451.06Zm492.3-85.36v-519.54q0-10.77-6.92-17.69-6.92-6.93-17.69-6.93H312.67v-33.84h388.87q23.91 0 41.18 17.07Q760-806 760-781.69v519.54h-33.85Zm-492.3-390.31H577.69 233.85Z"/></svg>
      <p class="ticket-show-p-font ">Tickets</p>
    <% end %>
  </div>
  <div class="btn-align btn col-2">
    <%= link_to new_ticket_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2"><path d="M240-180v-563.33q0-24.18 16.94-41.32 16.94-17.15 41.52-17.15h230.77v33.85H298.46q-9.23 0-16.92 7.69-7.69 7.7-7.69 16.93v510.71L480-320.72l206.15 88.1v-295.33H720V-180L480-283.08 240-180Zm33.85-587.95H529.23 273.85Zm412.3 166.16v-83.08h-83.07v-33.85h83.07v-83.08H720v83.08h83.08v33.85H720v83.08h-33.85Z"/></svg>
      <p class="ticket-show-p-font ">Flag</p>
    <% end %>
  </div>
  <div class="btn-align btn col-2">
    <%= link_to actions_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2"><path d="M644.23-243.85 530.69-357.38l27.54-27.54 85 85 170-170 27.54 28.54-196.54 197.53Zm0-289.23L530.69-646.62l27.54-27.53 85 85 170-170 27.54 28.53-196.54 197.54ZM120-315.38v-40h320v40H120Zm0-289.24v-40h320v40H120Z"/></svg>
      <p class="ticket-show-p-font ">Actions</p>
    <% end %>
  </div>
  <div class="btn-align btn col-2">
    <%= link_to menu_path, class: "btn-link" do%>
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#F2F2F2"><path d="M160-269.23v-40h640v40H160ZM160-460v-40h640v40H160Zm0-190.77v-40h640v40H160Z"/></svg>
      <p class="ticket-show-p-font ">Menu</p>
    <% end %>
  </div>
</div>
